.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
  .newsletter__wrapper.item-left {
    align-items: flex-start;
  }
  .newsletter__wrapper.item-right {
    align-items: flex-end;
  }
  .newsletter__subheading.newsletter__subheading-left {
    margin-left: 0;
  }
  .newsletter__subheading.newsletter__subheading-right {
    margin-right: 0;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

.newsletter-form__field-wrapper .field-custom .field__label {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
